.results {
    text-align: left;
}

.item .title {
    font-size: large;
    font-weight: bold;

}

/*.sug{
    color:blue;
    border:none;
    text-decoration: underline;
    background-color: transparent;
    font-size: large;

}*/
